<h1>LOGIN</h1>

<form action="/api/users/login" method="POST">

    <label for="Email"> Email </label>
    <input type="email" name="email" required>
    <br><br>

    <label for="password"> Password </label>
    <input type="text" name="password" required>
    <br><br>

    <button type="submit"> Login </button>

    <p>多No estas registrado?</p>
    <button><a href="/register"> Registrate </a></button>


    <p> 多Olvidaste tu contrase単a?<a href="/reset-password"> Restablecer contrase単a </a></p>
</form>

<button><a href="/api/users/github">GITHUB</a></button> 